.Home-container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  overflow: auto;
}

.Home-info {
  margin-left: 4vw;
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.profile-pic {
  width: 50vw;
  height: 100vh;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-img {
  margin-right: 12vw;
  margin-top: 15vh;
  height: 70vh;
}

@keyframes tilt-n-move-shaking {
  80% { transform: translate(0, 0) rotate(0deg); }
  85% { transform: translate(5px, 5px) rotate(5deg); }
  90% { transform: translate(0, 0) rotate(0eg); }
  95% { transform: translate(-5px, 5px) rotate(-5deg); }
  100% { transform: translate(0, 0) rotate(0deg); }
}

.name-text {
  margin-top: 15vh;
  left: 50%;
  font-size: 80px;
  color: rgb(232, 226, 226);
  z-index: 1;
}

.my-titles {
  left: 50%;
  max-width: 100%;
  font-size: 50px;
  color: white; 
  font-weight: bold;
  z-index: 1;
}

@keyframes fadeInOut {
  0%, 100% {
    opacity: 0;
  }
  20%, 80% {
    opacity: 1;
  }
}

.buttons-container {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}

.portfolio-button,
.contact-button {
  font-size: 30px;
  margin: 0 30px;
  padding: 10px 20px;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  z-index: 1;
}

.portfolio-button:hover {
  background-color: green;
}

.contact-button:hover {
  background-color: darkorange;
}

.logos-container {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}

.linkedin-logo {
  margin: 0 5vw;
  height: 100px;
  cursor: pointer;
  animation: tilt-n-move-shaking 2s ease-in-out infinite;
}

.github-logo {
  margin: 0 5vw;
  height: 100px;
  cursor: pointer;
  animation: tilt-n-move-shaking 2s ease-in-out 1s infinite;
}

.white-bar {
  width: 70%;
  height: 8px;
  background-color: rgb(209, 203, 203);
}
